.tile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 100%;
  border-radius: 3%;
  border: solid rgba(0,0,0,.1) 1px;
  transition: all .25s; 
  
    &:hover {
      box-shadow: 0 0 4px 0 rgba(46,62,72,.12), 0 4px 12px 0 rgba(46,62,72,.12);
      transform: translate(-1px);
    }
    a {
      text-decoration: none;
    }
    a:link {
      color: black;
    }
    a:visited {
      color: black;

    }
    a:hover {
      color: black;
    }
    a:active {
      color: black;

    }
}
.info-container{ 
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info-date {
  color: rgb(156,156, 156);
  margin-top: 15px;
}

.info-name {
  margin-top: 20px; 
  font-size: 30px;
}
.tile-image {
  height: 200px;
  width: 100%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  background-size: cover;
  background-position: center;
  filter: invert(20%) hue-rotate(30deg) saturate(150%) brightness(120%) contrast(120%) ;
}

.founder-info {
  color: rgb(156,156, 156);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;
}

.founder-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}