.profile-container {
  width: 60%;
  background-color: darkgray;
  margin: auto;
}

.user-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
}

.user-details-container {
  margin-top: 20px;
}

.user-image-container > img{
  width: 50%;
}

.address-list-container{
  margin-top: 10px;
}

.address-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
}

.friend-request-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
  font-size: 1.4em;
}
.friend-image-container {
  width: 30%;
}

.friend-image-container > img {
  width: 20%;
}