.App {
  background-image: url('./assets/images/earth.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 30vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
