$primaryColor: #AA003B;
$lightPrimaryColor: rgb(211, 4, 76);
$darkPrimaryColor: #884557;
$secondaryColor: #00A6A1;

$bodyText: rgb(26,26,26);

$headerFont: 'Poppins', sans-serif;
$bodyFont: 'Roboto', sans-serif;